DATABASE_URL=postgres://postgresdb:postgres@localhost:5432/origami-forms

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YW11c2luZy1vY3RvcHVzLTUuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_9ZUCV33e1RpjrRaC4GbOdRDzm1ui5HBQelvwwdxt5J

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

IMAGEKIT_PUBLIC_KEY=<take_from_imagekit_developer_options>
IMAGEKIT_PRIVATE_KEY=<take_from_imagekit_developer_options>
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=<take_from_imagekit_developer_options>